@font-face{
	font-family: "Proxima Nova Thin";
	src: url("../fonts/proxima_nova_thin.ttf");
}

body{
	display: inline;
	align-items: center;
	padding: 0;
	margin:0;
	width:60%;

}


h1{
  font-family: "Proxima Nova Thin";
  font-style: normal;
  font-weight: 100;
  text-align: left;
  font-size: 65px;
  border: 10px;
  margin-left: 160px;
  margin-top: 155px; 
  padding: 0px;
  color: #FFFFFF;
}
p{
  font-family: "Proxima Nova Thin";
  font-style: normal;
  display: flex;
  font-weight: 100;
  text-align: left;
  font-size:22px;
  border: 10px;
  margin-left:160px;
  margin-top: 0;
  margin-right:150px; 
  padding: 0;
  color: #959697;
  margin-right: 140px;
 
}
img{
	display: inline-block;
	vertical-align: middle;
	margin-left:45%;
	margin-top: 10%;
}
