@font-face{
	font-family: "Proxima Nova Thin";
	src: url("../fonts/proxima_nova_thin.ttf");
}
body{
 	display: inline;
	align-items: center;
	padding: 0;
	margin:0;
	width:40%;
 }
h1{
  font-family: "Proxima Nova Thin";
  font-style: normal;
  font-weight: 100;
  text-align: left;
  font-size: 2.875em;
  line-height: 1.217em;
  border: 1%;
  margin-left: 10.5%;
  margin-top: 8%; 
  padding: 0px;
  color: #FFFFFF;
  display: inline-block;
  float: left;
}
h2{
  font-family: "Proxima Nova Thin";
  font-style: normal;
  font-weight: lighter; 
  color: #659EC7;
  font-size: 110%;
  padding-bottom:4%;
  margin-top:50%;
}
h3{
  font-family: "Proxima Nova Thin";
  font-style: normal;
  font-weight: lighter; 
  color: #659EC7;
  font-size: 110%;
  padding-bottom:4%;
  margin-top:40%;
}
#l1{
  padding-left:10.9%;
  display: inline-block;
  float: left;
  margin-top:0;
  clear: both;

}
#l3{
  display: inline-block;
  float:left;
  padding-left: 10.5%;
  padding-top: 1.5%;

}
ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
 line-height: 182%;
}
a{
  text-decoration: none;
  color: #959697;
  font-family: "Proxima Nova Thin";
}
.two{
  margin-top: 15%;
  margin-bottom:4%;
  font-size: 100%;
}
.four{
  margin-top: 0;
  line-height:120%;
  font-size:90%;

}
#l2{
  display: inline-block;
  float:left;
  padding-left:2%;
  position:relative;
  padding-top: 8.3%;
}
.three{
  padding-top: 26%;
}
#l4{
  display: inline-block;
  display: left;
  padding-left: 5%;
  position: relative;
  padding-top:23%;

}
h4{
  font-family: "Proxima Nova Thin";
  font-style: normal;
  font-weight: lighter; 
  color: #659EC7;
  font-size: 160%;
  padding-bottom:0;
  margin-top:40%;
  line-height:52%;
  margin-bottom: 0;
}
#level{
  display: inline-block;
  float:right;
  padding-left:30%;
  position:fixed;
  padding-top:5%;
}
p{
  font-family: "Proxima Nova Thin";
  font-style: normal;
  font-weight: lighter; 
  color: #659EC7;
  font-size: 69%;
  padding-bottom:0;
  line-height:98%;
  padding-left: 43%;
}
footer{
  display:inline-block;
  vertical-align: middle;
  margin-left:auto;
  margin-top: 8%;
  margin-right: auto;
  text-align:center;
}
footer img{
  width:8%;
}
@media only screen and (max-width: 767px){
  #l1 {
    padding-left: 10.9%;
    display: inline-block;
    float: left;
    margin-top: 0;
    clear: both;
    font-size: 1.2em;
    line-height: 1.5em;
  }
  #l2{
    display: inline-block;
    float: left;
    padding-left: 10.5%;
    padding-top: 37%;
    font-size: 1.2em;
    line-height: 1.5em;
    position: relative;
  }
  #l3 {
    padding-left: 10.9%;
    display: inline-block;
    float: left;
    margin-top: 0;
    clear: both;
    font-size: 1.2em;
    line-height: 1.5em;
  }
  #l4{
    display: inline-block;
    float: left;
    padding-left: 10.5%;
    padding-top: 37%;
    font-size: 1.2em;
    line-height: 1.5em;
    position: relative;
  }
  #level {
   display: inline-block;
  float: left;
  padding-left: 75%;
  position: relative;
  font-size: 0.7em;
  }
  footer img{
    width:30%;
    
  }
  h4{
    font-size: 129%;
    line-height: 93%;

  }
  p{
    font-size: 72%;
    line-height: 125%;
    padding-left: 4%;
  }
}
@media only screen and (width: 768px){
  #l1 {
    padding-left: 10.9%;
    display: inline-block;
    float: left;
    margin-top: 0;
    clear: both;
    font-size: 1.2em;
    line-height: 1.5em;
  }
  #l2{
    display: inline-block;
    float: left;
    padding-left: 10.5%;
    padding-top: 18%;
    font-size: 1.2em;
    line-height: 1.5em;
    position: relative;
  }
  #l3 {
    padding-left: 10.9%;
    display: inline-block;
    float: left;
    margin-top: 0;
    clear: both;
    font-size: 1.2em;
    line-height: 1.5em;
  }
  #l4{
    display: inline-block;
    float: left;
    padding-left: 10.5%;
    padding-top: 16%;
    font-size: 1.2em;
    line-height: 1.5em;
    position: relative;
  }
  #level {
   display: inline-block;
  float: left;
  padding-left: 75%;
  position: relative;
  font-size: 0.7em;
  }
  footer img{
    width:30%;
    
  }
  h4{
    font-size: 129%;
    line-height: 93%;

  }
  p{
    font-size: 72%;
    line-height: 125%;
    padding-left: 4%;
  }
}
@media only screen and (min-width: 800px){
  #l2{
    padding-top: 13%;
  }
  #l4{
    padding-top: 32%;
  }
}
@media only screen and (min-width: 1280px){
  #l2{
    padding-top: 8.5%;
  }
  #l4{
    padding-top: 23.5%;
  }
}
@media only screen and (min-width: 1440px){
  #l2{
    padding-top: 7.8%;
  }
  #l4{
    padding-top: 22%;
  }
}
