@font-face{
	font-family: "Proxima Nova Thin";
	src: url("../fonts/proxima_nova_thin.ttf");
}

body{
	display: inline;
	align-items: center;
	padding: 0;
	margin:0;
	width:40%;

}
h1{
  font-family: "Proxima Nova Thin";
  font-style: normal;
  font-weight:lighter;
  text-align: left;
  font-size: 2.875em;
  line-height: 1.217em;
  border: 1%;
  margin-left: 10.5%;
  margin-top: 8%; 
  padding: 0px;
  color: #FFFFFF;
  padding-bottom: 3%;
}
h2{
  font-family: "Proxima Nova Thin";
  font-weight: lighter;
  color:#659EC7;
  font-size: 110%;
  line-height: 1.222em;
  padding-bottom:35%;
  margin-top:0;
}
h3{
  font-family: "Proxima Nova Thin";
  font-style:normal;
  font-weight: lighter;
  color:#659EC7;
  font-size: 110%;
  line-height: 1.222em;
  padding-bottom:2.5%;
  margin-top:0;
}
h4{
  font-family: "Proxima Nova Thin";
  font-style:normal;
  font-weight:lighter;
  color:#659EC7;
  font-size: 110%;
  line-height: 1.222em;
  padding-bottom:2%;
  margin-top:2%;
}
#l1{
  padding-left: 11%;
  display: inline-block;
  float: left;
  margin-top:0;
}
#l3{
  padding-left: 30%;
}
#l2{
  padding-left:11%;
}
ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  line-height: 185%;
}
a{
  text-decoration: none;
  color: #959697;
  font-family: "Proxima Nova Thin";
}
footer{
  display:inline-block;
  vertical-align: middle;
  margin-left:auto;
  margin-top: 8%;
  margin-right: auto;
  text-align:center;
}
footer img{
  width:8%;
}
@media only screen and (max-width:900px){
  h1{
    font-size: 2em;
    line-height: 2em;
    margin-bottom: 3%;
  }
  h2,h3,h4{
    font-size: 1em;
    margin-bottom: 2%;
  }
  
  #l1{
  padding-left: 11%;
  display:block;
  margin-top:0;
  margin-right: 90%;
  margin-bottom: 5%;
}
  #l2{
    padding-left: 11%;
  }
  #l3{
   padding-left: 11%;
   margin-bottom: 5%;
  }
  a{
    font-size: 0.9em;
  }
  footer img{
    width:15%;
    
  }
}
@media only screen and (max-width: 768px){
  h1{
    font-size: 1.8em;
    line-height: 2em;
    margin-bottom: 3%;
    padding-left: 6%;
    margin-top: 25%;
  }
  h2{
    padding-bottom: 4%;
  }
  h2,h3,h4{
    font-size: 1.3em;
  }
  ul{
    margin-bottom: 15%;
  }
  #l1{
  padding-left: 17%;
  display:block;
  margin-top:0;
  margin-right: 100%;
  margin-bottom: 12%;
}
  #l2{
    padding-left: 17%;
  }
  #l3{
   padding-left: 17%;
  }
  a{
    font-size: 0.9em;
  }
  footer img{
    width:30%;
    
  }
}
