@font-face{
	font-family: "Proxima Nova Thin";
	src: url("../fonts/proxima_nova_thin.ttf");
}


body{
	display: inline;
	align-items: center;
	padding: 0;
	margin:0;
	width:60%;

}
h1{
  font-family: "Proxima Nova Thin";
  font-style: normal;
  font-weight: 100;
  text-align: left;
  font-size: 290%;
  border: 10px;
  margin-left: 11.6%;
  margin-top: 12%; 
  padding: 0px;
  color: #FFFFFF;
}
table{
  display: inline-block;
  float: left;
  width: 18%;
  height: 10%;
  table-layout: fixed;
  padding-left: 2%;
  margin-left:8%;
  white-space: nowrap;
  border-spacing: 0;
  margin-bottom: 2.5%;
  margin-top: 0;
}

td{
  text-align: center;
  padding: 0;
  border-collapse: collapse;
  font-size: 100%;
  
}
.one img{
  width: 53%;
}

a{
  text-decoration: none;
  color: #959697;
  font-family: "Proxima Nova Thin";
}
footer{
  display:inline-block;
  vertical-align: middle;
  margin-left:auto;
  margin-top: 8%;
  margin-right: auto;
  text-align:center;
}
footer img{
  width:8%;
}
@media only screen and (max-width: 768px) {
  body{
    font-size: 0.3rem;
  }
  h1{
    font-size: 8em;
    line-height: 2em;
    letter-spacing: 0.023em;
    margin-left: 20%;
    margin-bottom: 0;
  }
  table{
    float: none;
    font-size: 2.1em;
    display:block;
    line-height:4.1em;
    letter-spacing: 0.075em; 
    margin-left: 20%;
    margin-bottom: 10%;
  }
  tr img{
    width: 100%;
    height: 100%;
  }
  td{
    font-size: 1.091em;
    line-height: 2.05;
  }
  .one{
    font-size: 4em;
    line-height: 0em;
  }
  a{
    font-size: 1.346em;
    line-height: 2.05em;
  }
  footer img{
    width:30%;
    
  }
}

@media only screen and (min-width: 1440px){
  
 body{
  font-size: 1.2em;
  line-height: 1.6em;
 }
 img{
  width: 80%;
 }
 h1{
  margin-left: 11%;
 }
}
