@font-face{
	font-family: "Proxima Nova Thin";
	src: url("../fonts/proxima_nova_thin.ttf");
}


body{
	display: inline;
	align-items: center;
	padding: 0;
	margin:0;
	width:60%;

}
h1{
  font-family: "Proxima Nova Thin";
  font-style: normal;
  font-weight: 100;
  text-align: left;
  font-size: 290%;
  border: 10px;
  margin-left: 11%;
  margin-top: 8%; 
  padding: 0px;
  color: #FFFFFF;
  margin-bottom: 3%;
}
table{
  display: inline-block;
  width: 18%;
  height: 10%;
  table-layout: fixed;
  padding-left: 2%;
  margin-left:8%;
  white-space: nowrap;
  border-spacing: 0;
  margin-top: 0;
}

td{
  text-align: center;
  padding: 0;
  border-collapse: collapse;
  font-size: 100%;
  
}
.tab1{
  padding-top:7%;
}
.tab2{
  padding-top: 8.9%;
}
.tab3{
  padding-top: 7%;
}
.tab4{
  padding-top: 7%;
}
.one img{
  width:100%;
}
.irs img{
  width:100%;
}
.irs{
  margin-top: 3%;
}
a{
  text-decoration: none;
  color: #959697;
  font-family: "Proxima Nova Thin";
  padding-left: 40%;
}

footer{
  display:inline-block;
  vertical-align: middle;
  margin-left:auto;
  margin-top: 8%;
  margin-right: auto;
  text-align:center;
}
footer img{
  width:8%;
}
@media only screen and (max-width:800px){
  h1{
    font-size: 3.9em;
    padding-left: 8.9%;
    padding-top: 5%;
  }
  table{
    float: none;
    font-size: 0.5em;
    display:block;
    line-height:4.1em;
    letter-spacing: 0.075em; 
    margin-bottom: 5%;
    width: 50%;
    height: 10%;
    table-layout: fixed;
    padding-left:10%;
    margin-left: 8%;
    white-space: nowrap;
    border-spacing: 0;
    margin-top: 0;
  }
  .irs{
    padding-left: 6%;
  }
  tr img{
    width: 40%;
    
  }
  td{
    font-size: 1.091em;
    line-height: 2.05;
  }
  .one{
    font-size: 4em;
    line-height: 0em;
  }
  .tab2,
  .tab4,
  .tab3{
    padding-top: 0px;
  }
  td a{
    font-size:2.7em;
    line-height: 2.05em;
    padding-left: 60%;

  }
  footer img{
    width:30%;
    
  }

}
@media only screen and (max-width: 767px) {
   h1{
    font-size: 1.8em;
    line-height: 2em;
    padding-left: 8.9%;
    padding-top: 5%;
  }
  table{
    float: none;
    font-size: 0.5em;
    display:block;
    line-height:4.1em;
    letter-spacing: 0.075em; 
    margin-bottom: 5%;
    width: 50%;
    height: 10%;
    table-layout: fixed;
    padding-left:10%;
    margin-left: 8%;
    white-space: nowrap;
    border-spacing: 0;
    margin-top: 0;
  }
  .irs{
    padding-left: 6%;
  }
  tr img{
    width: 40%;
    
  }
  td{
    font-size: 1.091em;
    line-height: 2.05;
  }
  .one{
    font-size: 4em;
    line-height: 0em;
  }
  .tab2,
  .tab4,
  .tab3{
    padding-top: 0px;
  }
  td a{
    font-size: 1.6em;
    line-height: 2.05em;
    padding-left: 60%;

  }
  footer img{
    width:30%;
    
  }
}

@media only screen and (min-width: 1440px){
  
 body{
  font-size: 1.2em;
  line-height: 1.6em;
  width:100%;
 }
 table{
  margin-left: 10%;
 }
 
 img{
  width: 80%;
 }
 h1{
  margin-left: 11%;
  padding-left: 2%;
 }
}