@font-face{
	font-family: "Proxima Nova Thin";
	src: url("../fonts/proxima_nova_thin.ttf");
}

body{
	display: inline;
	align-items: center;
	padding: 0;
	margin:0;
	width:60%;

}
h1{
  font-family: "Proxima Nova Thin";
  font-style: normal;
  font-weight: 100;
  text-align: left;
  font-size: 65px;
  border: 10px;
  margin-left: 160px;
  margin-top: 155px; 
  padding: 0px;
  color: #FFFFFF;
}
p{
  font-family: "Proxima Nova Thin";
  font-style: normal;
  display:block;
  font-weight: 100;
  text-align: left;
  font-size:137.5%;
  border: 10px;
  margin-left:160px;
  margin-top: 0;
  margin-right:150px; 
  padding: 0;
  color: #959697;
  margin-right: 140px;
 
}
div{
	display: inline-block;
	text-align: center;
	vertical-align: middle;
}
.pics{
	display:inline-block;
	float: left;
	padding:0;
	margin-left: 0;
	width: 150px;
	height: 150px;
	border: 0;
	font-size: 0;
	vertical-align: middle;
	text-align: center;
}
#cad{
	display:inline-block;
	float: left;
	padding-left:77px;
	margin-left:22px;
	width:150px; 
	height:150px;
	font-size: 0;
	vertical-align: middle;
	text-align: center;
}
footer{
	display: inline-block;
	vertical-align: middle;
	margin-left:45%;
	margin-top: 8%;
}
