 @font-face{
	font-family: "Proxima Nova Thin";
	src: url("../fonts/proxima_nova_thin.ttf");
}
 body{
 	background: url("../images/library.jpg") no-repeat;
  background-size: cover;
 	display: inline;
	align-items: center;
	padding: 0;
	margin:0;
	width:40%;
 }
 h1{
 	font-family: "Proxima Nova Thin";
  font-style: normal;
  font-weight: 100;
  text-align: left;
  font-size: 2.875em;
  line-height: 1.217em;
  border: 5%;
  margin-left: 16%;
  margin-top: 8%;
  margin-bottom: 4%; 
  padding: 0px;
  color: #FFFFFF;
}
h2{
	font-family: "Proxima Nova Thin";
	text-align: left;
   font-size: 140%;
   color:#1db7f0; 
  padding-bottom:7%;
  margin-top:0;
}
#l1{
  padding-left: 16%;
  display: inline-block;
  float: left;
  margin-top:0;
}
#l2{
  display: inline-block;
  display: left;
  padding-left: 16.2%;

}
ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
 line-height: 182%;
}
a{
  text-decoration: none;
  color: #959697;
  font-family: "Proxima Nova Thin";
}
#on{
	font-family: "Proxima Nova Thin";
	text-align: left;
   font-size: 140%;
   color:#1db7f0; 
  margin-top:0;
}
footer{
  display:inline-block;
  vertical-align: middle;
  margin-left:auto;
  margin-top: 8%;
  margin-right: auto;
  text-align:center;
}
footer img{
  width:8%;
}
@media only screen and (max-width: 768px){
    #l1{
      padding-bottom: 4%;
    }
    h1{
      margin-left: 15%;
    }
    body{
      background: url("../images/library.jpg") no-repeat;
      background-size:cover;
      width:30%;
    }
    footer img{
    width:30%;
    
    }
}
